* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5; 
}
img {
  display: block;
  max-width: 100%;
}
.button_my{
    color: rgb(138, 132, 132);
  }
.timer_my{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 20px;
  text-transform:uppercase;

}
.field_my{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value_my{
font-size: 24px;
}
.label_my{
  font-size: 12px;
}


